<a href="https://colab.research.google.com/github/shailendra31888/medical/blob/main/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 8.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 30.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0

In [ ]:
import pymongo

In [ ]:
from pymongo import MongoClient
client = MongoClient("mongodb+srv://database:939TBo0NDlBA4DGrr@cluster0.fy4f4kn.mongodb.net/")

In [ ]:
db = client['student']
collection = db['db']

In [ ]:
document = [{"name": "shailendra", "age": 30},
            {"name": "Alice", "age": 22}]

collection.insert_many(document)

In [ ]:

std=collection.find()

In [ ]:
from pymongo import MongoClient

# Connect to the MongoDB cluster and select the database and collection
client = MongoClient("mongodb+srv://shailendraky2004:939TBo0NDlBA4DGr@cluster0.fy4f4kn.mongodb.net/test?retryWrites=true&w=majority")
collection = client['student']['collection']

# Update the "name" field for the document with "name" equal to "shailendra"
collection.update_one({"name": "shailendra"}, {"$set": {"name": "soumya"}})

# Retrieve and print the updated data
updated_data = collection.find({"name": "soumya"})
#print(updated_data)
for i in updated_data:
  print(i)
# Close the connection when you're done

{'_id': ObjectId('6532c47dfad1ac58da1b699a'), 'name': 'soumya', 'age': 30}
{'_id': ObjectId('6532c863fad1ac58da1b69a5'), 'name': 'soumya', 'age': 30}

In [ ]:

for i in std:
  print(i)

{'_id': ObjectId('6532bd48fad1ac58da1b6991'), 'name': 'shailedra', 'age': 30}
{'_id': ObjectId('6532bf21fad1ac58da1b6992'), 'name': 'soumya', 'age': 30}
{'_id': ObjectId('6532bf5dfad1ac58da1b6993'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532bf6dfad1ac58da1b6994'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532bfe4fad1ac58da1b6996'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532cf67fad1ac58da1b69a9'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532cf67fad1ac58da1b69aa'), 'name': 'Alice', 'age': 22}

In [ ]:
q={"name":"soumya"}

In [ ]:
for i in collection.find(q):
  print(i)

{'_id': ObjectId('6532c47dfad1ac58da1b699a'), 'name': 'soumya', 'age': 30}
{'_id': ObjectId('6532c863fad1ac58da1b69a5'), 'name': 'soumya', 'age': 30}

In [ ]:
my={"name":{"regex":"^A"}}

In [ ]:
s=collection.find(my)
for i in collection.find(my):
  print(i)

In [ ]:
for x in collection.find().sort("name"):
  print(x)

{'_id': ObjectId('6532cf67fad1ac58da1b69aa'), 'name': 'Alice', 'age': 22}
{'_id': ObjectId('653286f173e8bc925cdb2c45'), 'name': 'new_name', 'age': 30}
{'_id': ObjectId('6532bd48fad1ac58da1b6991'), 'name': 'shailedra', 'age': 30}
{'_id': ObjectId('6532bf5dfad1ac58da1b6993'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532bf6dfad1ac58da1b6994'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532bfe4fad1ac58da1b6996'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532cf67fad1ac58da1b69a9'), 'name': 'shailendra', 'age': 30}
{'_id': ObjectId('6532bf21fad1ac58da1b6992'), 'name': 'soumya', 'age': 30}

In [ ]:
q={"name":"new_name"}
collection.delete_one(q)